<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/login-style.css">
</head>

<body>

    <!-- header -->
    <%- include('../partials/header') %>

    <main class="login-form">
        <h1 class="titlogin">Login</h1>
            <form action="/users/login" method="POST">
                    <input class="sobre" type="email" name="email" placeholder="Correo electronico" value="<% locals.oldData ? oldData.email : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-error">
                            <%= errors.email.msg %> 
                        </div>     
                    <% } %>
                    <br>
                    <input type="password" name="password" placeholder="Contraseña">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-error">
                            <%= errors.password.msg %> 
                        </div>     
                    <% } %>
                    <p class="otc">Recuerdame
                    <input type="checkbox" name="recordame">
                    </p>
                <div class="login-button"><input type="submit" value="Iniciar Sesión" class="button"></div>
                <p class="centrado">¿No tienes una cuenta? <a class="link" href="/users/register">Crear Cuenta</a></p>
            </form>
    </main>

        <!-- footer -->
        <%- include('../partials/footer') %>

</body>

</html>