<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/productModify-style.css">
        </head>

    <body>

        <!-- header -->
        <%- include('../partials/header') %>

            <main>
                <h2 class="form-title">Agregar nuevos productos</h2>
                <form action="/products/" method="POST" enctype="multipart/form-data" class="edit-form">
                    <div class="input-contenedor">
                        <input type="text" placeholder="Nombre del producto" name="productName">
                        <% if (locals.errors && errors.productName) { %>
                            <div class="text-error">
                                <%= errors.productName.msg %> 
                            </div>     
                        <% } %>
                    </div>
                    <div class="input-contenedor">
                        <input type="text" placeholder="Descripción breve del producto" name="productDescriptionShort">
                        <% if (locals.errors && errors.productDescriptionShort) { %>
                            <div class="text-error">
                                <%= errors.productDescriptionShort.msg %> 
                            </div>     
                        <% } %>
                    </div>
                    <div class="input-contenedor">
                        <input type="text" placeholder="Descripción detalle del producto" name="productDescriptionLong">
                        <% if (locals.errors && errors.productDescriptionLong) { %>
                            <div class="text-error">
                                <%= errors.productDescriptionLong.msg %> 
                            </div>     
                        <% } %>
                    </div>
                    <div class="input-contenedor">
                        <input type="number" placeholder="Precio" name="productPrice">
                        <% if (locals.errors && errors.productPrice) { %>
                            <div class="text-error">
                                <%= errors.productPrice.msg %> 
                            </div>     
                        <% } %>
                    </div>
                    <div class="input-contenedor">
                        <input type="text" placeholder="Categoría" name="productCategory">
                        <% if (locals.errors && errors.productCategory) { %>
                            <div class="text-error">
                                <%= errors.productCategory.msg %> 
                            </div>     
                        <% } %>
                    </div>
                    <div class="input-contenedor">
                        <input type="file" placeholder="Foto del producto" name="productImage">
                        <% if (locals.errors && errors.productImage) { %>
                            <div class="text-error">
                                <%= errors.productImage.msg %> 
                            </div>     
                        <% } %>
                    </div>
                    
                    
                    <div class="buttons">
                        <button type="submit">Enviar</button>
                        <button type="reset">Borar</button>
                    </div>
                </form>
            </main>

            <!-- footer -->
            <%- include('../partials/footer') %>

    </body>

</html>