<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productDetail-style.css">
</head>

<body>

    <!-- header -->
    <%- include('../partials/header') %>

        <main>
            <div class="current-product">
                <div class="product-pictures">
                    <img src="/images/products/<%= product.image %>" alt="product-image">
                </div>
                <div class="product-details">
                    <h2>
                        <%= product.name %>
                    </h2>
                    <p class="product-description">
                        <%= product.descriptionLong %>
                    </p>
                    <p class="product-price">
                        $<%= toThousand(product.price) %>
                    </p>
                    <a href="/products/cart">Agregar al carrito</a>
                    <a href="/products/<%=product.id%>/edit" class="action-button edit"><button>EDITAR PRODUCTO</button></a>
                    <form action="/products/<%=product.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                    </form>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer') %>

</body>

</html>